.color-swatch {
    background: $white;
    border-radius: 8px;
    color: $gray-900;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    max-width: 140px;
    >div{
        border-radius: 8px;
        min-height: 52px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}