.color-swatch {
    background: $white;
    border-radius: 8px;
    color: $gray-900;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    min-width: 160px;
    >div{
        border-radius: 8px;
        min-height: 52px;
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &::after{
            position: absolute;
            content: attr(data-copy-text);
            background-color: transparentize($gray-900, .45);
            width: 100%;
            height: 100%;
            color: transparentize($white, .1);
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
        }
        &:hover::after{
            opacity: 1;
        }
    }
}