.polaroid {
  --border-radius: 0px;
  border-radius: var(--border-radius);
  &.hero{
    background-color: #fff;
    padding: 10px;
    width: 100%;
    @media screen and (min-width: map-get($grid-breakpoints, "lg")){
      width: 40vw;
    }
    @media screen and (min-width: map-get($grid-breakpoints, "xl")){
      width: 35vw;
    }
  }
}
