$custom_utilities: (
    "viewport-height": map-merge(
        map-get($utilities, "viewport-height"),
        (
            responsive: true
        )
      ),
    "width": map-merge(
        map-get($utilities, "width"),
        (
            responsive: true
        )
    ),
    // "text-opacity": map-merge(
    //     map-get($utilities, "text-opacity"),
    //     (
    //         state: hover
    //     )
    // )
)